mirdata
mido
matplotlib
lightning>=2.2.1
pytest-timeout
pytest
deprecated
librosa
einops
transformers==4.45
wandb
smart-open
git+https://github.com/craffel/mir_eval.git
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup.git
torchaudio
